* {
    margin: 0;
    padding: 0;
    font-family:OCR A Std, monospace;
    box-sizing: border-box;
}

/*#141f27*/
body {
    background-color: #111111;
}

.container_nav {
    display: flex;
    flex-direction: row;
    height: 15vh;
    background-color: black;
    justify-content:flex-end;
    align-items: center;
}

.item_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    text-decoration: none;
    margin: 30px;
    font-size: 21px;
    gap: 50px;
}


a {
    color: white;
    text-decoration: none;
}

/*Cor ao clicar no link*/
.link:active {
    color: aqua;
}

#titulo {
    font-size: 35px;
    color: aqua;
    position: absolute;
    top: 190px;
    left: 520px;
}

#paragrafo1 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 280px;
    left: 420px;
}

/*#3894a3*/
main > section > img {
    width:260px; /* Tamanho da imagem */
    height:260px; /* Tamanho da imagem */
    border-radius:50%; /* Torna a imagem redonda */
    border: 6px solid aqua
    ; /* Cor e espessura da borda */

    object-fit: cover; /* Mantém a proporção da imagem */
    position: absolute;
    top: 190px;
    left:120px;
    transition: transform 0.3s ease; /* Transição suave para hover */

    /* Sombra suave para melhorar o efeito visual */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .container_nav {
        flex-direction:column;
        height: auto;
        justify-content: center;
        align-items:center;
        text-align:center;
        height: 12vh;
    }

    .item_nav {
        flex-direction:row;
        margin: 20px 0;
        font-size: 13px;
        gap: 20px;
    }

    #titulo {
        font-size: 28px;
        position: static;
        text-align: center;
        margin-top: 40px;
    }

    #paragrafo1 {
        font-size: 18px;
        position: static;
        text-align:left;
        margin: 35px;
    }

    main > section > img {
        width: 250px;
        height: 250px;
        position: static;
        display: block;
        margin: 20px auto;
    }
}